.btn, button{ cursor: pointer; }
#ubc7-search, .btn{ text-align: center; }
 header{ display: block; }
html{ font-size: 100%; }
button, input{ margin: 0px; vertical-align: middle; }
button{ -webkit-appearance: button; }
@media print{
*{ color: rgb(0, 0, 0) !important; text-shadow: none !important; box-shadow: none !important; background-position: 0px 0px !important; background-repeat: initial initial !important; }
a{ text-decoration: underline; }
a[href]::after{ content: ' (', attr(href), ')'; }
a[href^="#"]::after{ content: ''; }
}
.dropdown-menu, body{ background-color: rgb(255, 255, 255); }
[class*="span"]{ float: left; min-height: 1px; margin-left: 20px; }
.container, .span12{ width: 940px; }
.span9{ width: 700px; }
.span2{ width: 140px; }
.span1{ width: 60px; }
.row-fluid, .row-fluid .span12{ width: 100%; }
.row-fluid::after, .row-fluid::before{ display: table; line-height: 0; content: ''; }
.row-fluid::after{ clear: both; }
.row-fluid [class*="span"]{ display: block; float: left; width: 100%; min-height: 30px; margin-left: 2.127659574468085%; box-sizing: border-box; }
.row-fluid [class*="span"]:first-child{ margin-left: 0px; }
.row-fluid .span9{ width: 74.46808510638297%; }
.row-fluid .span2{ width: 14.893617021276595%; }
.row-fluid .span1{ width: 6.382978723404255%; }
.container{ margin-right: auto; margin-left: auto; }
.container::after, .container::before{ display: table; line-height: 0; content: ''; }
.container::after{ clear: both; }
.dropdown-menu > li > a, button, input{ font-weight: 400; line-height: 20px; }
ul ul{ margin-bottom: 0px; }
form{ margin: 0px 0px 20px; }
button, input{ font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
input[type="text"]{ display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85); vertical-align: middle; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset; box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset; transition: border 0.2s linear, box-shadow 0.2s linear; -webkit-transition: border 0.2s linear, box-shadow 0.2s linear; }
input{ width: 206px; margin-left: 0px; }
.input-xlarge{ width: 270px; }
input.search-query{ margin-bottom: 0px; }
.form-search input{ display: inline-block; margin-bottom: 0px; vertical-align: middle; }
.dropdown{ position: relative; }
.dropdown-menu{ position: absolute; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; margin: 2px 0px 0px; list-style: none; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px; -webkit-background-clip: padding-box; background-clip: padding-box; }
.btn-group, .btn-group > .btn, .collapse, .navbar .nav{ position: relative; }
.dropdown-menu > li > a{ display: block; padding: 3px 20px; clear: both; color: rgb(51, 51, 51); white-space: nowrap; }
.btn, .btn-group{ display: inline-block; vertical-align: middle; }
 .nav-header{ font-weight: 700; }
.dropdown .dropdown-menu .nav-header{ padding-right: 20px; padding-left: 20px; }
.collapse{ height: 0px; overflow: hidden; transition: height 0.35s ease; -webkit-transition: height 0.35s ease; }
.btn{ padding: 4px 12px; margin-bottom: 0px; font-size: 14px; line-height: 20px; background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230)); -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; }
.nav, .navbar{ margin-bottom: 20px; }
.btn-group{ font-size: 0px; white-space: nowrap; }
.btn-group > .btn{ border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group > .btn + .btn{ margin-left: -1px; }
.btn-group > .btn, .btn-group > .dropdown-menu{ font-size: 14px; }
.btn-group > .btn:first-child{ margin-left: 0px; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
.btn-group > .dropdown-toggle{ border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.btn-group > .btn + .dropdown-toggle{ padding-right: 8px; padding-left: 8px; -webkit-box-shadow: rgba(255, 255, 255, 0.121569) 1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.121569) 1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px; }
.nav{ margin-left: 0px; list-style: none; }
.nav-header{ display: block; padding: 3px 15px; font-size: 11px; line-height: 20px; }
.nav li + .nav-header{ margin-top: 9px; }
.navbar{ overflow: visible; }
.navbar-inner{ min-height: 40px; padding-right: 20px; padding-left: 20px; box-shadow: rgba(0, 0, 0, 0.0627451) 0px 1px 4px; background-repeat: repeat no-repeat; }
.navbar-inner::after, .navbar-inner::before{ display: table; line-height: 0; content: ''; }
.navbar-inner::after{ clear: both; }
.navbar .container{ width: auto; }
.nav-collapse.collapse{ height: auto; overflow: visible; }
.navbar .btn, .navbar .btn-group{ margin-top: 5px; }
.navbar .btn-group .btn{ margin-top: 0px; }
.navbar .nav{ left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }
.navbar .nav > li{ float: left; }
.navbar .nav > li > a{ float: none; }
.navbar .nav > .active > a{ text-decoration: none; }
.navbar .btn-navbar{ display: none; float: right; padding: 7px 10px; margin-right: 5px; margin-left: 5px; color: rgb(255, 255, 255); text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; background-color: rgb(237, 237, 237); background-image: linear-gradient(rgb(242, 242, 242), rgb(229, 229, 229)); border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059); -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset, rgba(255, 255, 255, 0.0745098) 0px 1px 0px; box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset, rgba(255, 255, 255, 0.0745098) 0px 1px 0px; background-repeat: repeat no-repeat; }
.navbar .btn-navbar .icon-bar{ display: block; width: 18px; height: 2px; background-color: rgb(245, 245, 245); -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px; box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px; }
.btn-navbar .icon-bar + .icon-bar{ margin-top: 3px; }
.visible-phone{ display: none !important; }
@media (max-width: 767px){
.visible-phone{ display: inherit !important; }
}
@media (min-width: 1200px){
[class*="span"]{ float: left; min-height: 1px; margin-left: 30px; }
.container, .span12{ width: 1170px; }
.span9{ width: 870px; }
.span2{ width: 170px; }
.span1{ width: 70px; }
.row-fluid, .row-fluid .span12{ width: 100%; }
.row-fluid::after, .row-fluid::before{ display: table; line-height: 0; content: ''; }
.row-fluid::after{ clear: both; }
.row-fluid [class*="span"]{ display: block; float: left; width: 100%; min-height: 30px; margin-left: 2.564102564102564%; box-sizing: border-box; }
.row-fluid [class*="span"]:first-child, input{ margin-left: 0px; }
.row-fluid .span9{ width: 74.35897435897436%; }
.row-fluid .span2{ width: 14.52991452991453%; }
.row-fluid .span1{ width: 5.982905982905983%; }
}
@media (max-width: 979px) and (min-width: 768px){
[class*="span"]{ float: left; min-height: 1px; margin-left: 20px; }
.container, .span12{ width: 724px; }
.span9{ width: 538px; }
.span2{ width: 104px; }
.span1{ width: 42px; }
.row-fluid, .row-fluid .span12{ width: 100%; }
.row-fluid::after, .row-fluid::before{ display: table; line-height: 0; content: ''; }
.row-fluid::after{ clear: both; }
.row-fluid [class*="span"]{ display: block; float: left; width: 100%; min-height: 30px; margin-left: 2.7624309392265194%; box-sizing: border-box; }
.row-fluid [class*="span"]:first-child, input{ margin-left: 0px; }
.row-fluid .span9{ width: 74.30939226519337%; }
.row-fluid .span2{ width: 14.3646408839779%; }
.row-fluid .span1{ width: 5.801104972375691%; }
}
@media (max-width: 767px){
body{ padding-right: 20px; padding-left: 20px; }
.container{ width: auto; }
.row-fluid{ width: 100%; }
.row-fluid [class*="span"], [class*="span"]{ display: block; float: none; width: 100%; margin-left: 0px; box-sizing: border-box; }
.row-fluid .span12, .span12{ width: 100%; box-sizing: border-box; }
.input-xlarge{ display: block; width: 100%; min-height: 30px; box-sizing: border-box; }
}
@media (max-width: 480px){
.nav-collapse{ -webkit-transform: translate3d(0px, 0px, 0px); }
}
@media (max-width: 979px){
body{ padding-top: 0px; }
.navbar .container{ width: auto; padding: 0px; }
.nav-collapse{ clear: both; }
.nav-collapse .nav{ float: none; margin: 0px 0px 10px; }
.nav-collapse .dropdown-menu li + li a, .nav-collapse .nav > li > a{ margin-bottom: 2px; }
.nav-collapse .nav > li{ float: none; }
.nav-collapse .nav .nav-header{ color: rgb(119, 119, 119); text-shadow: none; }
.nav-collapse .dropdown-menu a, .nav-collapse .nav > li > a{ padding: 9px 15px; font-weight: 700; color: rgb(119, 119, 119); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.nav-collapse .btn{ padding: 4px 10px; font-weight: 400; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; }
.nav-collapse .dropdown-menu{ position: static; top: auto; left: auto; display: none; float: none; max-width: none; padding: 0px; margin: 0px 15px; background-color: transparent; border: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; -webkit-box-shadow: none; box-shadow: none; }
.nav-collapse .dropdown-menu::after, .nav-collapse .dropdown-menu::before{ display: none; }
.nav-collapse, .nav-collapse.collapse{ height: 0px; overflow: hidden; }
.navbar .btn-navbar{ display: block; }
}
#ubc7-wordmark, #ubc7-wordmark-block, .full-width #ubc7-header{ position: relative; }
@media (min-width: 980px){
.nav-collapse.collapse{ height: auto !important; overflow: visible !important; }
}
[class^="icon-"]{ font-family: FontAwesome; font-weight: 400; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; margin-top: 0px; background-position: 0px 0px; background-repeat: repeat repeat; }
[class^="icon-"]::before{ text-decoration: inherit; display: inline-block; cursor: default; speak: none; }
a [class^="icon-"]{ display: inline; }
body{ background-color: rgb(204, 204, 204); color: rgb(34, 34, 34); font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0px; min-width: 240px; background-position: initial initial; background-repeat: initial initial; }
a:link, button{ transition: color 0.2s ease, background-color 0.2s ease; -webkit-transition: color 0.2s ease, background-color 0.2s ease; }
#ubc7-unit-menu .container, .container{ margin: 0px auto; width: 940px; }
.expand{ margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }
 #ubc7-global-menu, #ubc7-unit{ font-family: Arial, sans-serif !important; }
.full-width .expand{ margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
.full-width #ubc7-header .container{ border-left-width: 1px; border-left-style: solid; border-left-color: rgb(31, 56, 95); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(31, 56, 95); padding-left: 14px; padding-right: 14px; }
.full-width #ubc7-global-menu{ box-shadow: rgb(204, 204, 204) 0px -60px 60px -60px inset; -webkit-box-shadow: rgb(204, 204, 204) 0px -60px 60px -60px inset; }
.full-width #ubc7-global-header{ box-shadow: none !important; -webkit-box-shadow: none !important; }
@media screen and (min-width: 1200px){
#ubc7-header .span1{ max-width: 70px; }
#ubc7-header .span2{ max-width: 170px; }
#ubc7-wordmark{ max-width: 739px; }
}
@media screen and (max-width: 979px){
.full-width .expand{ margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
.full-width #ubc7-header .container{ border-left-width: 0px; border-right-width: 0px; padding-left: 0px; padding-right: 0px; }
}
a{ color: rgb(47, 93, 124); text-decoration: underline; }
ul{ list-style-type: square; padding: 0px; margin: 0px 0px 10px 25px; }
#ubc7-unit, #ubc7-unit .navbar, #ubc7-unit-alternate-navigation, #ubc7-unit-menu{ margin-bottom: 0px; }
li{ line-height: 24px; }
#ubc7-header, header [class*="span"], header.row-fluid{ background-color: rgb(0, 33, 69); }
header [class*="span"], header.row-fluid{ height: 95px; }
#ubc7-header{ border-top-width: 3px; border-top-style: solid; border-top-color: rgb(255, 255, 255); }
#ubc7-apom a, #ubc7-global-utility button span, #ubc7-logo a, #ubc7-wordmark a, .ubc7-campus{ overflow: hidden; text-indent: 200%; white-space: nowrap; }
#ubc7-apom, #ubc7-logo, #ubc7-wordmark{ height: 100%; }
#ubc7-apom a, #ubc7-global-utility button span, #ubc7-logo, #ubc7-vancouver-campus, #ubc7-wordmark-block, .ubc7-arrow{ background-image: url(../img/ubc7-clf-sprite-centennial-white.png); background-repeat: no-repeat no-repeat; }
#ubc7-apom a, #ubc7-global-utility button, #ubc7-logo a, #ubc7-wordmark a{ display: block; height: 100%; width: 100%; }
#ubc7-logo{ min-width: 95px; background-position: 11px -115px; }
#ubc7-apom a{ border-left-width: 1px; border-left-style: solid; border-left-color: rgb(31, 56, 95); min-width: 160px; background-position: -73px -115px; }
#ubc7-wordmark-block{ border-left-width: 1px; border-left-style: solid; border-left-color: rgb(31, 56, 95); background-position: -226px -115px; }
#ubc7-wordmark{ float: left; width: 85% !important; }
#ubc7-global-utility button{ border: 0px; float: right; margin-right: 13px; height: 35px; padding: 0px; width: 45px; background-position: 0px 0px; background-repeat: initial initial; }
#ubc7-global-utility button span{ background-color: rgb(255, 255, 255); cursor: pointer; display: block; height: 35px; width: 45px; background-position: -1233px 7px; }
.ubc7-campus{ bottom: 17px; cursor: pointer; display: block; float: left; height: 18px; left: 32px; overflow: hidden; position: absolute; width: 135px; }
#ubc7-vancouver-campus{ background-position: -1320px -122px; background-repeat: no-repeat no-repeat; }
#ubc7-centennial{ display: none; }
#ubc7-unit-faculty, .nav > li > a{ display: block; }
@media screen and (max-width: 979px){
#ubc7-centennial{ background-color: rgb(230, 230, 230); bottom: 0px; display: block; max-height: 45px; max-width: 45px; overflow: hidden; position: absolute; right: 0px; height: 45px; width: 45px; }
}
#ubc7-global-menu{ background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
#ubc7-global-menu #ubc7-search button, #ubc7-global-menu #ubc7-search input{ visibility: hidden; }
#ubc7-search{ background-color: rgb(215, 224, 231); height: 90px; width: 100%; }
#ubc7-search-box{ padding-top: 30px; }
#ubc7-search-box input{ font-size: 16px; }
#ubc7-search-box .btn{ background-image: linear-gradient(rgb(0, 33, 69), rgb(25, 25, 56)); border: 1px solid rgb(0, 33, 69); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; color: rgb(255, 255, 255); text-decoration: none; text-shadow: none; background-color: rgb(0, 33, 69) !important; background-repeat: repeat no-repeat; }
input.search-query{ padding-left: 3px; padding-right: 3px; }
#ubc7-unit{ box-shadow: rgb(34, 34, 34) 0px -10px 10px -10px inset; -webkit-box-shadow: rgb(34, 34, 34) 0px -10px 10px -10px inset; height: 50px; overflow: hidden; width: 100%; }
#ubc7-unit-name{ margin-top: 4px; font-size: 12px; }
#ubc7-unit-name a{ text-shadow: rgb(34, 34, 34) 1px 1px; color: rgb(255, 255, 255) !important; text-decoration: none !important; }
#ubc7-unit-name a{ display: block; line-height: 20px; }
#ubc7-unit-identifier{ font-size: 18px; letter-spacing: 1px; overflow: hidden; white-space: nowrap; }
 .ubc7-arrow{ display: inline-block; }
#ubc7-unit-menu, #ubc7-unit-menu .navbar-inner{ background-color: rgb(230, 230, 230); background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-alternate-navigation .navbar-inner, #ubc7-unit-menu .navbar-inner{ background-image: none; border: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; box-shadow: none; -webkit-box-shadow: none; min-height: 32px; }
#ubc7-unit-alternate-navigation .nav > li, #ubc7-unit-menu .nav > li{ line-height: 20px; }
#ubc7-unit-alternate-navigation .nav > li > a, #ubc7-unit-menu .nav > li > a{ color: rgb(0, 33, 69); text-shadow: none; padding: 10px; }
#ubc7-unit .navbar .btn-navbar .icon-bar{ background-color: rgb(0, 33, 69); background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-alternate-navigation .nav > li.active > a, #ubc7-unit-menu .nav > li.active > a{ background-color: rgb(215, 224, 231); background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-menu .dropdown-menu{ border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 0px; }
#ubc7-unit-alternate-navigation .dropdown .dropdown-menu .nav-header, #ubc7-unit-menu .dropdown .dropdown-menu .nav-header{ color: rgb(25, 48, 86); }
#ubc7-unit-alternate-navigation .btn-group, #ubc7-unit-menu .btn-group{ margin-top: 0px !important; }
#ubc7-unit-alternate-navigation .btn-group .btn, #ubc7-unit-menu .btn-group .btn{ color: rgb(0, 33, 69); background-color: rgb(230, 230, 230); line-height: 40px; transition: color 0s ease, background-color 0s ease; -webkit-transition: color 0s ease, background-color 0s ease; background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-alternate-navigation .btn-group a.btn, #ubc7-unit-menu .btn-group a.btn{ padding-right: 7px; }
#ubc7-unit-alternate-navigation .dropdown .btn-group .btn, #ubc7-unit-alternate-navigation .dropdown .btn-group button, #ubc7-unit-menu .dropdown .btn-group .btn, #ubc7-unit-menu .dropdown .btn-group button{ background-image: none; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 0px; -webkit-box-shadow: transparent 0px 0px 0px; box-shadow: transparent 0px 0px 0px; height: 40px; margin-bottom: 0px; margin-top: 0px; padding-bottom: 0px; padding-top: 0px; z-index: 1; }
#ubc7-unit-alternate-navigation .dropdown .btn-group button, #ubc7-unit-menu .dropdown .btn-group button{ padding-left: 3px; padding-right: 5px; border-left-width: 1px !important; border-left-style: solid !important; border-left-color: rgb(195, 208, 219) !important; height: 22px !important; }
#ubc7-unit-alternate-navigation .dropdown .btn-group button .ubc7-arrow, #ubc7-unit-menu .dropdown .btn-group button .ubc7-arrow{ margin-top: 3px; vertical-align: top; }
.ubc7-arrow{ height: 15px; text-decoration: inherit; width: 15px; vertical-align: text-top; }
.ubc7-arrow.down-arrow{ background-position: -1178px -261px; }
 .btn, .dropdown-menu a, .navbar .nav > li > a{ text-decoration: none; }
 .btn, .btn-group > .btn:first-child, .btn-group > .dropdown-toggle, .dropdown-menu, .navbar .btn-navbar .icon-bar, .navbar-inner, input.search-query, input[type="text"]{ border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn{ background-color: rgb(0, 33, 69); background-image: linear-gradient(rgb(0, 33, 69), rgb(25, 25, 56)); border: 1px solid rgb(0, 33, 69); color: rgb(255, 255, 255); text-shadow: none; background-repeat: repeat no-repeat; }
.dropdown-menu{ border: 1px solid rgb(230, 230, 230); margin-top: 1px; padding: 0px; top: 100%; }
.dropdown-menu li{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(215, 224, 231); }
.nav-header{ color: rgb(0, 33, 69); text-shadow: none; text-transform: uppercase; }
.navbar-inner{ background-color: rgb(0, 33, 69); background-image: none; border: 0px; color: rgb(255, 255, 255); filter: none; -webkit-box-shadow: none; }
.navbar .nav > li > a{ color: rgb(255, 255, 255); padding: 10px 10px 11px; text-shadow: none; }
.navbar .nav > .active > a{ color: rgb(0, 33, 69); background-color: rgb(215, 224, 231); -webkit-box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px inset; box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px inset; text-shadow: rgb(152, 178, 195) 0px 1px 2px; }
@media screen and (min-width: 1200px){
#ubc7-unit-menu .container, .container{ width: 1170px; }
header [class*="span"], header.row-fluid{ height: 115px; }
#ubc7-logo{ margin-left: -15px; min-width: 115px; background-position: 32px 14px; }
#ubc7-apom a{ min-width: 200px; background-position: -84px 14px; }
#ubc7-wordmark-block{ background-position: -280px 14px; }
#ubc7-global-utility button{ height: 43px; margin-right: 17px; }
#ubc7-global-utility button span{ height: 43px; margin-right: 19px; background-position: -1233px 11px; }
.ubc7-campus{ bottom: 19px; height: 24px; left: 38px; width: 170px; }
#ubc7-vancouver-campus{ background-position: -1320px -5px; }
#ubc7-unit{ height: 60px; }
#ubc7-unit-name{ margin-top: 7px; font-size: 14px; }
#ubc7-unit-identifier{ font-size: 20px; }
#ubc7-unit-menu .navbar-inner{ min-height: 40px; }
#ubc7-unit-menu .nav > li > a{ padding: 10px 15px 11px; }
#ubc7-unit-menu .nav > li{ line-height: 24px; }
#ubc7-unit-menu .dropdown .btn-group .btn{ height: 45px; }
#ubc7-unit-menu .btn-group .btn{ line-height: 45px; }
}
@media not all{
#ubc7-unit-menu .nav > li > a{ padding-top: 11px !important; }
}
@media screen and (max-width: 979px){
body{ padding: 0px 20px; }
#ubc7-unit-menu .container, .container{ margin-left: 0px; margin-right: 0px; width: auto; }
.expand{ margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
.container{ margin-left: 0px; margin-right: 0px; width: auto; }
header [class*="span"]{ border-width: 0px; display: block; float: none; margin-right: 0px; width: auto; margin-left: 0px !important; }
header .span1, header .span2{ display: none !important; }
header .span9{ width: 100% !important; }
#ubc7-wordmark-block{ border-left-width: 0px; margin-left: 0px; background-position: -1px -205px; }
#ubc7-global-utility button{ box-shadow: 0px 0px; -webkit-box-shadow: 0px 0px; cursor: pointer; height: 44px; margin-right: 0px; }
#ubc7-global-utility button span{ height: 33px; position: relative; top: -6px; }
.ubc7-campus{ bottom: 30px; left: 40px; width: 120px; }
#ubc7-vancouver-campus{ background-position: -1319px -226px; }
#ubc7-wordmark a{ height: 80%; }
#ubc7-unit-name{ margin-right: 55px; }
#ubc7-unit a{ font-size: 12px; }
#ubc7-unit .btn, #ubc7-unit .navbar .btn-navbar{ background-color: rgb(255, 255, 255); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border: 0px; box-shadow: rgb(25, 25, 56) 1px 1px 1px; -webkit-box-shadow: rgb(25, 25, 56) 1px 1px 1px; float: right; height: 24px; margin: 7px 0px 0px; padding: 11px 0px 0px 13px; width: 32px; background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-alternate-navigation .nav > li > a, #ubc7-unit-menu .nav > li > a, .nav-collapse .nav > li > a{ padding-left: 20px; padding-right: 20px; }
.nav-collapse .dropdown-menu a{ padding-left: 35px; padding-right: 20px; }
#ubc7-unit-alternate-navigation .navbar-inner, #ubc7-unit-menu .navbar-inner{ padding: 0px; background-color: rgb(255, 255, 255); min-height: 0px !important; background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-alternate-navigation .nav-collapse ul, #ubc7-unit-menu .nav-collapse ul{ margin-bottom: 0px; }
#ubc7-unit-alternate-navigation .nav-collapse li, #ubc7-unit-menu .nav-collapse li{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(195, 208, 219); }
#ubc7-unit-alternate-navigation .nav-collapse li:last-child, #ubc7-unit-menu .nav-collapse li.dropdown li:last-child{ border: 0px; }
#ubc7-unit-alternate-navigation .nav-collapse li a, #ubc7-unit-menu .nav-collapse li a{ border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; color: rgb(0, 33, 69); font-weight: 400; margin-bottom: 0px; text-shadow: none; }
#ubc7-unit-alternate-navigation .dropdown-menu, #ubc7-unit-menu .dropdown-menu{ margin: 0px; }
#ubc7-unit-alternate-navigation .dropdown .dropdown-menu .nav-header, #ubc7-unit-menu .dropdown .dropdown-menu .nav-header{ padding-left: 35px; }
#ubc7-unit-alternate-navigation .dropdown .btn-group, #ubc7-unit-menu .dropdown .btn-group{ width: 100%; }
#ubc7-unit-alternate-navigation .dropdown .btn-group .btn, #ubc7-unit-menu .dropdown .btn-group .btn{ background-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(195, 208, 219); background-position: initial initial; background-repeat: initial initial; }
#ubc7-unit-alternate-navigation .dropdown .btn-group a.btn, #ubc7-unit-menu .dropdown .btn-group a.btn{ display: block; margin-right: 40px; padding-left: 20px; text-align: left; }
#ubc7-unit-alternate-navigation .dropdown .btn-group button, #ubc7-unit-menu .dropdown .btn-group button{ position: absolute; right: 0px; top: 0px; width: 40px; height: 41px !important; }
#ubc7-unit-alternate-navigation .dropdown .btn-group button .ubc7-arrow, #ubc7-unit-menu .dropdown .btn-group button .ubc7-arrow{ margin-top: 0px; vertical-align: text-top; }
}
@media screen and (max-width: 767px){
.row-fluid{ width: auto; }
#ubc7-wordmark-block{ background-size: auto; background-position: -2px -276px; }
#ubc7-global-utility button span{ background-position: -1229px -291px; }
#ubc7-search-box .input-xlarge{ max-width: 200px !important; }
#ubc7-wordmark{ width: 70% !important; background-position: 0px 50%; background-repeat: initial initial; }
.ubc7-campus{ left: 35px; bottom: 17px; width: 100px; }
#ubc7-unit .span12{ float: left; width: 99.999999993%; }
#ubc7-unit-faculty{ font-size: 11px; }
#ubc7-unit-identifier{ font-size: 18px; }
#ubc7-vancouver-campus{ background-position: -1319px -301px; }
#ubc7-unit-navigation{ box-shadow: rgb(204, 204, 204) 0px 3px 6px; -webkit-box-shadow: rgb(204, 204, 204) 0px 3px 6px; }
#ubc7-unit-alternate-navigation .nav-collapse{ height: 100%; }
}
@media screen and (max-width: 379px){
#ubc7-global-utility button span{ height: 25px; position: relative; top: -10px; background-position: -1229px -296px; }
}
@media screen and (max-width: 319px){
 #ubc7-vancouver-campus, #ubc7-wordmark-block{ background-size: 1290px !important; }
#ubc7-wordmark-block{ background-position: -2px -229px; }
.ubc7-campus{ left: 30px; }
#ubc7-vancouver-campus{ background-position: -1135px -259px; }
}
@media not all, not all, only screen and (-webkit-min-device-pixel-ratio: 1.5), not all{
#ubc7-apom a, #ubc7-global-utility button span, #ubc7-logo, #ubc7-vancouver-campus, #ubc7-wordmark-block, .ubc7-arrow{ background-image: url(../img/ubc7-clf-sprite-centennial-white-2x.png) !important; background-size: 1500px !important; }
}
@media print{
body{ background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12pt; line-height: 1.3; background-position: initial initial; background-repeat: initial initial; }
a:link{ color: rgb(34, 34, 34); text-decoration: underline; background-position: 0px 0px; background-repeat: initial initial; }
a:link::after{ content: ' (', attr(href), ') '; padding-left: 10px; }
#ubc7-unit a:link::after, .dropdown-menu a:link::after, .nav a:link::after{ content: none; }
#ubc7-unit{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); height: 80px; overflow: visible; }
#ubc7-unit-name{ box-shadow: none; }
#ubc7-unit-faculty{ color: rgb(0, 0, 0); margin-bottom: 10px; text-shadow: none; }
#ubc7-unit-identifier{ color: rgb(0, 0, 0); font-size: 20pt; text-shadow: none; }
#ubc7-apom, #ubc7-global-menu, #ubc7-header, #ubc7-unit .btn, #ubc7-unit .navbar .btn-navbar, #ubc7-unit-menu, #ubc7-wordmark, #ubc7-wordmark-block{ display: none; }
.row-fluid{ border: 0px; margin: 0px 5%; width: auto; box-shadow: none !important; float: none !important; padding-top: 0px !important; padding-bottom: 0px !important; }
.btn, .btn-group{ border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); background-position: 0px 50%; background-repeat: initial initial; }
}